@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  color: #fff;
  background: #06001b;
}

main{
  background: #53139c;
  height: 100vh;
  height: 100dvh;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f51c1c;

}

@layer utilities {
  .text_balance {
    text-wrap: balance;
  }
}